In [3]:
from urllib.request import urlopen,Request
url="https://www.wikipedia.org/"
request=Request(url)
response=urlopen(request)
html=response.read()

In [5]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\saikat\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: webencodings in c:\users\saikat\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\saikat\anaconda3\lib\site-packages (from html5lib) (1.12.0)

In [6]:
import pandas as pd
from pandas import read_html
import html5lib

In [25]:
url="https://www.moneycontrol.com/indian-indices/nifty-50-9.html"

In [26]:
tables_list=pd.io.html.read_html(url)

In [14]:
tables_list

[     Scheme Name  Crisil Rank  AuM (Cr)  1W  1M  3M  6M  YTD  1Y  2Y  3Y  5Y  \
 0  No data found          NaN       NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN

    10Y
 0  NaN  ]

In [27]:
mf_list=tables_list[0]

In [17]:
mf_list

,Scheme Name,Crisil Rank,AuM (Cr),1W,1M,3M,6M,YTD,1Y,2Y,3Y,5Y,10Y
0,No data found,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN